{% extends "base.html" %}
{% block content %}
<div class="container">
<!--     <h1>Welcome back 👋🏾</h1> -->
<!--     <nav class="sidebar">
        <ul>
           <li><a href="{{ url_for('dashboard') }}">Home</a></li> 
            <li><a href="{{ url_for('handle_kettle') }}">Kettle Usage</a></li>
            <li><a href="{{ url_for('handle_washing_machine') }}">Washing Machine Usage</a></li>
            <li><a href="{{ url_for('visualize_energy_usage') }}">Visualise Usage</a></li>
            
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav> -->

    <div class="main-content">
        <h1>Welcome back 👋🏾</h1><br>
        <img src="{{ url_for('static', filename='images/cb1.jpg') }}" alt="Carbon Footprint" class="background-image">
    </div>
</div>
{% endblock %}
